doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    script(src="main.js" defer)
    script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
    link(rel="stylesheet", href="main.css")
  body
    - const images = ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo4.jpg', 'photo5.jpg', 'photo6.jpg', 'photo7.jpg', 'photo8.jpg', 'photo9.jpg'];
    - let n_min = 3, n_max = images.length;
    - let width = 210; height = 140;
    - let base = width / 2, rot = 360 / n_max;
    - let zBase = Math.round(base / Math.tan(Math.PI / n_max));

    style
      - for(let i = 0; i < n_max; i++)
        | .carousel__face:nth-child(#{i + 1}) { transform: rotateY(#{i * rot}deg) translateZ(#{zBase}px) }

    .scene(style=`transform: translateZ(-${zBase}px)`)
      .carousel(style=`width: ${width}px; height: ${height}px; background: lightpink`)
        - for(let i = 0; i < n_max; i++)
          .carousel__face(style=`width: ${width}px; height: ${height}px`)
            img(class="photo" src=`./img/${images[i]}` alt=`${i + 1}`
				)

    .control 
      button.next Next
      button.prev Prev